@font-face {
  font-family: "iconfont";
  src: url('../assert/font/iconfont.eot?t=1503039936161');
  /* IE9*/
  src: url('../assert/font/iconfont.eot?t=1503039936161#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assert/font/iconfont.woff?t=1503039936161') format('woff'), /* chrome, firefox */
  url('../assert/font/iconfont.ttf?t=1503039936161') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assert/font/iconfont.svg?t=1503039936161#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengque:before {
  content: "\e70f";
}

.icon-shenq:before {
  content: "\e727";
}

.icon-kuais:before {
  content: "\e728";
}

.icon-price:before {
  content: "\e729";
}

.icon-fenlei:before {
  content: "\e72a";
}

.icon-yuyue:before {
  content: "\e72b";
}

.icon-wen:before {
  content: "\e72c";
}

.icon-help:before {
  content: "\e72d";
}

.icon-people:before {
  content: "\e72e";
}

.icon-step:before {
  content: "\e72f";
}

.icon-step1:before {
  content: "\e730";
}

.icon-step2:before {
  content: "\e731";
}

.icon-loud:before {
  content: "\e732";
}

.icon-san:before {
  content: "\e733";
}

.icon-step3:before {
  content: "\e734";
}

.icon-step4:before {
  content: "\e735";
}

.icon-step5:before {
  content: "\e736";
}

.icon-boy:before {
  content: "\e737";
}

.icon-girl:before {
  content: "\e738";
}

.icon-order:before {
  content: "\e739";
}

.icon-xinxi:before {
  content: "\e73a";
}

.icon-edu:before {
  content: "\e73b";
}

.icon-fkuan:before {
  content: "\e73c";
}

.icon-diya:before {
  content: "\e73d";
}

.icon-phone:before {
  content: "\e73e";
}

.icon-zix:before {
  content: "\e73f";
}

.icon-close:before {
  content: "\e740";
}

.icon-jiaoyu:before {
  content: "\e741";
}

.icon-gengduo:before {
  content: "\e742";
}

.icon-jinrong:before {
  content: "\e743";
}

.icon-lvyou:before {
  content: "\e744";
}

.icon-jiacai:before {
  content: "\e745";
}

.icon-yiliaojiankang:before {
  content: "\e746";
}

.icon-zhineng:before {
  content: "\e747";
}

.icon-OO:before {
  content: "\e748";
}

.icon-baox:before {
  content: "\e749";
}

.icon-daikuan:before {
  content: "\e74a";
}