@import 'normalize.css';
@import 'myreset.css';
@import 'variables.css';
@import 'iconfont.css';
.banner {
  background: url("../assert/banner.jpg") no-repeat center top;
  background-size: contain;
  color: #fff;
  width: 100%;
  height: 560px;
  text-align: center;
  h1 {
    font-size: 60px;
    line-height: 69px;
    padding-top: 86px;
  }
  h2 {
    font-size: 40px;
    line-height: 56px;
    margin-top: 5px;
  }
  p {
    font-size: 24px;
    line-height: 39px;
    margin-top: 32px;
    color: #B9BCC3;
  }
}
.section {
  width: 750px;
  padding: 60px 0 56px;
  .hd {
    text-align: center;
    border-bottom: 1px solid $border-color;    
    .mark {
      font-size: 40px;
      height: 56px;
      line-height: 56px;
      display: block;
    }
    .mark-sub {
      font-size: 28px;
      height: 40px;
      line-height: 40px;
      display: block;
      margin-top: 13px;
      margin-bottom: 41px;
      color: #999;
    }
  }
  .bd {
    color: #666;
  }
}
.catis-list {
  padding: 0 50px;
  overflow: hidden;
  li {
    list-style: none;
    float: left;
    margin-top: 38px;
    width: 113px;
    &:not(:nth-child(4n)) {
      margin-right: 66px;
    }
    .iconfont {
      font-size: 100px;
      line-height: 100px;
      color: #506071;
      display: block;
      text-align: center;
    }
    .cati-name {
      font-size: 28px;
      line-height: 40px;
      display: block;
      color: #999;
      text-align: center;
      white-space: nowrap;
    }
  }
}



/* 测试区域 */
.test-area {
  padding: 30px;
  border-bottom:1px solid $border-color;
  text-align: center;
}
.test-radius {
  width:200px;
  height:200px;
  margin: 40px auto;
  border-radius: calc(@width / 2);
  background-color: #ccc;
}

.pic-txts {
  text-align: left;
  border:1px solid $border-color;
  border-radius: 5PX;
  width:690px;
  display: block;
}


canvas {
  background-color: #ccc;
}