/***********************
something reset by whidy 2017/8/25
reference
https://github.com/AllThingsSmitty/css-protips

***********************/

html {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
*, *::before, *::after {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: inherit;
}

a,a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0
}

b,
strong {
  font-weight: 600
}

hr,
.rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5
}

hr::before,
.rule::before {
  display: table;
  content: ""
}

hr::after,
.rule::after {
  display: table;
  clear: both;
  content: ""
}

table {
  border-spacing: 0;
  border-collapse: collapse
}

td,
th {
  padding: 0
}

button {
  cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0
}

h1 {
  font-size: 32px;
  font-weight: 600
}

h2 {
  font-size: 24px;
  font-weight: 600
}

h3 {
  font-size: 20px;
  font-weight: 600
}

h4 {
  font-size: 16px;
  font-weight: 600
}

h5 {
  font-size: 14px;
  font-weight: 600
}

h6 {
  font-size: 12px;
  font-weight: 600
}

p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px
}

small {
  font-size: 90%
}

blockquote {
  margin: 0
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0
}

ol ol,
ul ol {
  list-style-type: lower-roman
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha
}

dd {
  margin-left: 0
}